/*
****************************************************************************************************************
N.B please don't write any styling in this file. This file is used only to import the styles from the framework.
****************************************************************************************************************
*/
/**
  Main sass file.
 */
/**
  Configuration settings of the theme.
 */
/**
*********************
* Variables
********************
**/
/**
  * Font sizes and spacing/widths
  * -----------------------------------------------------------------------------
  */
/* Font familys */
/* Font weight */
/* Font sizes */
/* Transitions */
/* Breakpoints */
/* Spacings and widths */
/** Button settings **/
/** Menu settings **/
/**
*********************
* Colors
********************
**/
/* Brand Colors */
/** Add any additional color supplied in the style guide **/
/* Grayscale colors */
/* Accent colors. Primarily used for buttons */
/** Button & Link colors **/
/* Third party brand colors */
/* Brand colors */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|PT+Serif:400,700");
@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/Icomoon/icomoon.eot?tl23mx");
  src: url("../assets/fonts/Icomoon/icomoon.eot?tl23mx#iefix") format("embedded-opentype"), url("../assets/fonts/Icomoon/icomoon.ttf?tl23mx") format("truetype"), url("../assets/fonts/Icomoon/icomoon.woff?tl23mx") format("woff"), url("../assets/fonts/Icomoon/icomoon.svg?tl23mx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#mocha {
  margin: 0;
}

/**
  Base settings for the theme
 */
/* ==========================================================================
  Normalize.scss settings
  ========================================================================== */
/**
* Includes legacy browser support IE6/7
*
* Set to false if you want to drop support for IE6 and IE7
*/
/* Base
  ========================================================================== */
/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS and IE text size adjust after device orientation change,
*    without disabling user zoom.
* 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*  `em` units.
*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
* Remove default margin.
*/
body {
  margin: 0;
}

/* HTML5 display definitions
  ========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
* 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
*/
[hidden],
template {
  display: none;
}

/* Links
  ========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* Improve readability of focused elements when they are also in an
* active/hover state.
*/
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
  ========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold;
}

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic;
}

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
/**
* Addresses styling not present in IE 8/9.
*/
mark {
  background: #ff0;
  color: #000;
}

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
  ========================================================================== */
/**
* 1. Remove border when inside `a` element in IE 8/9/10.
* 2. Improves image quality when scaled in IE 7.
*/
img {
  border: 0;
}

/**
* Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
  ========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
figure {
  margin: 1em 40px;
}

/**
* Address differences between Firefox and other browsers.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto;
}

/**
* Address odd `em`-unit font size rendering in all browsers.
* Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
  ========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*  Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
* 4. Improves appearance and consistency in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
button {
  overflow: visible;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*  and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*  `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
*  Known issue: inner spacing remains in IE 6.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal;
  border: none;
}

/**
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*  Known issue: excess padding remains in IE 6.
*/
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
* 3. Corrects text not wrapping in Firefox 3.
* 4. Corrects alignment displayed oddly in IE 6/7.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
textarea {
  overflow: auto;
}

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold;
}

/* ==========================================================================
   Functions
   ========================================================================== */
/* ==========================================================================
   Mixins
   ========================================================================== */
/** Breakpoints **/
/*From seven theme.*/
/*From seven theme.*/
/*
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/** Global styling **/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

body {
  margin: auto;
  padding-top: 90px;
  color: #000;
  background: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 40rem) {
  body {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 40rem) {
  body {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 64rem) {
  body {
    padding-top: 90px;
  }
}

body.toolbar-fixed.user-logged-in {
  margin-top: 78px;
}

body.toolbar-fixed.user-logged-in header {
  top: 78px;
}

body.toolbar-fixed.user-logged-in .menu-wrap {
  margin-top: 78px;
}

body.show {
  overflow: hidden;
}

.block {
  border: none !important;
}

.layout-container {
  width: 1248px;
  max-width: 1248px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media only screen and (max-width: 40rem) {
  .layout-container {
    width: 100%;
  }
}

@media only screen and (min-width: 40rem) {
  .layout-container {
    width: 100%;
  }
}

@media only screen and (min-width: 75rem) {
  .layout-container {
    width: 1248px;
  }
}

.layout-container-fluid {
  width: auto;
  max-width: none;
  padding-right: 1rem;
  padding-left: 1rem;
}

.layout--header {
  font-weight: 500;
}

.layout--header-title {
  font-size: 30px;
}

@media only screen and (max-width: 40rem) {
  .layout--header-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 40rem) {
  .layout--header-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 64rem) {
  .layout--header-title {
    font-size: 30px;
  }
}

.layout--header-link {
  text-transform: uppercase;
  font-size: 14px;
}

.layout--header-link a {
  -webkit-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s;
}

.layout--header-link a:hover {
  color: #ff6301;
}

@media only screen and (max-width: 40rem) {
  .layout--header-link a {
    color: #ff6301;
  }
}

@media only screen and (max-width: 40rem) {
  .layout--header-link a .viewMore {
    display: none;
  }
}

@media only screen and (min-width: 40rem) {
  .layout--header-link a .viewMore {
    display: none;
  }
}

@media only screen and (min-width: 64rem) {
  .layout--header-link a .viewMore {
    display: block;
  }
}

span.viewMore {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 15px;
  margin-left: 2px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
  transition: -webkit-transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
  vertical-align: middle;
}

span.viewMore::after {
  content: "\e915";
  font-family: "icomoon";
  color: #ff6301;
}

a {
  outline: none;
  overflow-wrap: break-word;
}

a:hover {
  outline: none;
}

a:hover .viewMore {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-list {
  margin: 0 -18px !important;
}

.slick-dotted .slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 40px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  padding-right: 20px !important;
}

@media only screen and (max-width: 40rem) {
  .slick-dots {
    bottom: 0 !important;
  }
}

@media only screen and (min-width: 64rem) {
  .slick-dots {
    bottom: 40px !important;
  }
}

.slick-dots li {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  width: 6px !important;
  height: 6px !important;
  margin: 0 3px !important;
}

.slick-dots li.slick-active {
  width: 22px !important;
}

.slick-dots li.slick-active button {
  width: 22px !important;
}

.slick-dots li.slick-active button::before {
  width: 22px;
  border-radius: 4px;
  background: #ff6301;
}

.slick-dots li button {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  width: 6px !important;
  height: 6px !important;
  margin: 0 !important;
  padding: 3px !important;
}

.slick-dots li button::before {
  width: 100% !important;
  height: 100% !important;
  content: "" !important;
  opacity: 1 !important;
  border-radius: 50%;
  background: #d8cdc6;
}

.select2-container--default .select2-dropdown .select2-search--dropdown {
  padding: 0;
}

.select2-container--default .select2-dropdown .select2-search--dropdown .select2-search__field {
  border: none;
  border-bottom: 1px solid rgba(252, 68, 18, 0.3);
  font-size: 12px;
  position: relative;
  background: url("../assets/images/search.svg") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 4px) center;
}

.select2-container--default .select2-dropdown.select2-dropdown--below {
  border: none;
  padding: 15px 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
  top: 20px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 240px !important;
  margin-top: 20px;
  font-size: 12px;
}

.select2-container--default .select2-results__group {
  font-size: 13px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(252, 68, 18, 0.3) !important;
  color: #000000 !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ff6301 !important;
  color: #ffffff !important;
}

.select2-selection {
  padding: 2px 15px 8px 0;
  border: 1px solid rgba(252, 68, 18, 0.3) !important;
  border-radius: 4px !important;
  font-size: 12px;
  height: auto !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.select2-selection::after {
  content: "\e91c";
  font-family: icomoon;
  font-size: 12px;
  color: #fc4412;
  position: absolute;
  right: 15px;
  font-weight: 800;
  opacity: .7;
}

.select2-selection.show::after {
  content: "\e91f";
  font-family: icomoon;
  font-size: 12px;
  color: #fc4412;
  position: absolute;
  right: 15px;
  font-weight: 800;
  opacity: .7;
}

.select2-selection__rendered {
  padding: 0 !important;
  line-height: normal !important;
  font-weight: 600;
}

.select2-selection__arrow {
  display: none !important;
}

.region-footer-first,
.region-footer-second,
.region-footer-third {
  width: 90%;
}

.region-footer-bottom {
  width: 100%;
}

.feed-icons {
  visibility: hidden;
}

.hide {
  display: none !important;
}

.dialog-popup {
  position: fixed;
  padding: 10px;
  left: 0;
  height: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #FFF;
  z-index: 20;
  width: 90%;
}

@media only screen and (min-width: 75rem) {
  .dialog-popup {
    width: 400px;
  }
}

.dialog-popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.dialog-popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

.dialog-popup .close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.dialog-popup .close img {
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.full-width-input {
  width: 100%;
}

.display-block {
  display: block !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 40rem) {
  .ui-widget.ui-widget-content #drupal-modal {
    max-height: none !important;
  }
  .ui-widget.ui-widget-content #drupal-modal .signin {
    width: 100%;
  }
}

@media only screen and (min-width: 40rem) {
  .ui-widget.ui-widget-content #drupal-modal {
    max-height: none !important;
  }
  .ui-widget.ui-widget-content #drupal-modal .signin {
    width: 380px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 64rem) {
  .ui-widget.ui-widget-content #drupal-modal {
    max-height: inherit !important;
  }
  .ui-widget.ui-widget-content #drupal-modal .signin {
    width: auto;
  }
}

.ui-widget-overlay {
  background: black;
  opacity: .8;
}

@media screen and (min-width: 1200px) {
  .hide-xl {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  .hide-sm {
    display: none !important;
  }
}

@media only screen and (max-width: 40rem) {
  .hide-xs {
    display: none !important;
  }
}

.hide {
  display: none !important;
}

.radio__custom__buttons [type="radio"]:checked,
.radio__custom__buttons [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.radio__custom__buttons [type="radio"]:checked + label,
.radio__custom__buttons [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.radio__custom__buttons [type="radio"]:checked + label:before,
.radio__custom__buttons [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fc4412;
  border-radius: 100%;
  background: #fff;
}

.radio__custom__buttons [type="radio"]:checked + label:after,
.radio__custom__buttons [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #fc4412;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radio__custom__buttons [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radio__custom__buttons [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.ajax-progress-throbber {
  display: none;
}

.page-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
}

@media only screen and (min-width: 64rem) {
  .page-title {
    font-size: 36px;
    padding: 50px 0 50px;
  }
}

@media only screen and (min-width: 75rem) {
  .page-title {
    font-size: 50px;
    padding: 70px 0 60px;
    font-weight: 600;
  }
}

.coupon-applied {
  pointer-events: none;
  cursor: default;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fc4412;
  color: #fff !important;
}

.anchor-disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.6;
}

.ui-tabs .ui-tabs-panel {
  padding: 0 !important;
}

.fa-facebook::before {
  content: "\e90f";
  font-family: icomoon;
  font-size: 25px;
}

.fa-twitter::before {
  content: "\e913";
  font-family: icomoon;
  font-size: 25px;
}

.fa-instagram::before {
  content: "\e911";
  font-family: icomoon;
  font-size: 25px;
}

.fa-youtube::before {
  content: "\e910";
  font-family: icomoon;
  font-size: 25px;
}

input:hover {
  cursor: pointer;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

@media only screen and (max-width: 40rem) {
  .slick-dotted.slick-slider {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 40rem) {
  .slick-dotted.slick-slider {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 64rem) {
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 75rem) {
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}

.fakeLoader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/bbq-loader.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 40rem) {
  .fakeLoader {
    background-size: 6%;
  }
}

@media only screen and (min-width: 64rem) {
  .fakeLoader {
    background-size: 6%;
  }
}

@media only screen and (min-width: 75rem) {
  .fakeLoader {
    background-size: 6%;
  }
}

.fakeLoader .fl-spinner {
  display: none !important;
}

.ajax-progress-fullscreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/bbq-loader.svg);
  background-size: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;
  padding: 4px;
  opacity: 0.9;
  border-radius: 7px;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (min-width: 40rem) {
  .ajax-progress-fullscreen {
    background-size: 6%;
  }
}

@media only screen and (min-width: 64rem) {
  .ajax-progress-fullscreen {
    background-size: 6%;
  }
}

@media only screen and (min-width: 75rem) {
  .ajax-progress-fullscreen {
    background-size: 6%;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

.increase-buffet-quantity {
  cursor: pointer;
}

.increase-buffet-quantity:before {
  content: '\e92c';
  font-family: 'icomoon';
  font-size: 10px;
}

.decrease-buffet-quantity {
  cursor: pointer;
}

.decrease-buffet-quantity:before {
  content: '\e92b';
  font-family: 'icomoon';
  font-size: 10px;
}

@media only screen and (max-width: 40rem) {
  .jconfirm-box {
    width: 80% !important;
  }
}

#ui-datepicker-div .ui-datepicker-month {
  margin-right: 5px;
  padding: 2px;
}

#ui-datepicker-div .ui-datepicker-year {
  padding: 2px;
}

.reservation__block::-webkit-scrollbar {
  display: none;
}

.reservation__block {
  -ms-overflow-style: none;
}

.cart__block::-webkit-scrollbar {
  display: none;
}

.cart__block {
  -ms-overflow-style: none;
}

.international-email-select {
  display: none;
}

#branch-buffet-menu .menu__item__title .menu__item__price {
  display: none;
}

#booking-food-preferences #buffet-items .reservation__item .reservation__item-menu .reservation__item-menu__block-wrapper .reservation__item-menu__block .menu__item__card .menu__item__content .menu__item__title .menu__item__price {
  display: none;
}

.contextual-links {
  display: none !important;
}

.contextual-links:hover {
  display: block !important;
}

/**
  Define the typography of the theme.
 */
/**
  Helper classes and animations to be used.
 */
/*---------- SPACING ----------*/
/*Padding*/
.p0 {
  padding: 0 !important;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p5 {
  padding: 5rem;
}

.p6 {
  padding: 6rem;
}

/**@todo add padding-top, padding-bottom, padding-left, padding-righ**/
/*Margin*/
.m0 {
  margin: 0 !important;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m3 {
  margin: 3rem;
}

.m4 {
  margin: 4rem;
}

.m5 {
  margin: 5rem;
}

.m6 {
  margin: 6rem;
}

/**@todo add margin-top, margin-bottom, margin-left, margin-righ**/
@-webkit-keyframes loaded {
  from {
    -webkit-transform: translate(0, -4rem);
    transform: translate(0, -4rem);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
  }
}

@keyframes loaded {
  from {
    -webkit-transform: translate(0, -4rem);
    transform: translate(0, -4rem);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
  }
}

.not-loaded {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}

.loaded {
  -webkit-animation: loaded 1s;
  animation: loaded 1s;
}

/**
  Define the atomic component styling.
 */
/* ==========================================================================
   Image settings
   ========================================================================== */
/**/
img {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   Link.scss settings
   ========================================================================== */
/**/
/* ==========================================================================
   Button
   ========================================================================== */
/**/
button,
.button {
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  position: relative;
  display: inline-block;
  margin: 0 0 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: #ff6301;
  font-size: 0.75rem;
  font-weight: 500;
}

button:hover,
.button:hover {
  color: #fff;
  background-color: #f13603;
}

button.button--rounded,
.button.button--rounded {
  border-radius: 1.5rem;
}

button.button--outline,
.button.button--outline {
  color: #fc4412;
  border: 1px solid #fc4412;
  background: #fff;
}

button.button--outline:hover,
.button.button--outline:hover {
  color: #f13603;
  border-color: #f13603;
}

button.button--text,
.button.button--text {
  text-decoration: underline;
  text-transform: capitalize;
  color: #484848;
  border: none;
  background: transparent;
  outline: none;
}

button.button--text:hover,
.button.button--text:hover {
  background: none;
}

button.button--small,
.button.button--small {
  padding: 0.5rem 1.5rem;
}

button.button--big,
.button.button--big {
  padding: 1.5rem 2.5rem;
}

.button--atc {
  margin-bottom: 0;
  padding: 6px 10px;
  color: #fff;
  border-radius: 20px;
  background: #ea5607;
  font-size: 11px;
  font-weight: 600;
}

.button--submit {
  padding: 10px 20px;
  border-radius: 50px;
}

.button--edit {
  padding: 0.55rem 1.5rem;
  color: #fc4412;
  border: 1px solid #fc4412;
  border-radius: 50px;
  background: transparent;
}

/* ==========================================================================
   Link.scss settings
   ========================================================================== */
/**/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

/**
  Define the module styling to create the skeleton the theme.
 */
/**
* Grid styling
**/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 40rem) {
  .grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

.grid .grid__item {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding: 1rem;
}

.grid .grid__item.grid--1 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 8.33333%;
}

.grid .grid__item.grid--2 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 16.66667%;
}

.grid .grid__item.grid--3 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 25%;
}

.grid .grid__item.grid--4 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 33.33333%;
}

.grid .grid__item.grid--5 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 41.66667%;
}

.grid .grid__item.grid--6 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50%;
}

.grid .grid__item.grid--7 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 58.33333%;
}

.grid .grid__item.grid--8 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 66.66667%;
}

.grid .grid__item.grid--9 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 75%;
}

.grid .grid__item.grid--10 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 83.33333%;
}

.grid .grid__item.grid--11 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 91.66667%;
}

.grid .grid__item.grid--12 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
}

/**
* Menu styling
**/
.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (min-width: 64rem) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu.menu--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu.menu--vertical .menu__item {
  margin-bottom: 2px;
}

.menu .menu__label {
  margin: 1rem 0;
  text-transform: uppercase;
  color: #6a6a6a;
  font-size: 14px;
}

.menu .menu__item {
  position: relative;
  overflow: visible;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 2px;
  white-space: unset;
}

@media only screen and (min-width: 64rem) {
  .menu .menu__item {
    white-space: nowrap;
  }
}

.menu .menu__item a {
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #000;
  background: none;
  line-height: 1;
  -webkit-transition: color 0.1s ease-in-out 0s;
  transition: color 0.1s ease-in-out 0s;
  outline: 0;
}

.menu .menu__item a:hover {
  color: #ff6301;
}

.menu .menu__item a.is-active {
  color: #fc4412;
  font-weight: 600;
}

.menu .menu__item > .menu {
  margin: 0.75rem 1.5rem;
  padding-left: 1.5rem;
  border-left: 1px solid #ccc;
}

.menu .menu__item--expanded {
  position: relative;
}

.menu .menu__item--expanded > .menu__link {
  padding-right: 1.5rem;
}

.menu .menu__item--expanded > .menu__link:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: "";
  border-top: 6px solid #fc4412;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  top: 50%;
  right: 0.5rem;
}

.menu .menu__item--expanded > .menu {
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  position: absolute;
  z-index: 1;
  top: 2rem;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 12.5rem;
  margin: 0;
  padding: 0.75rem 1rem;
  opacity: 0;
  border: none;
  background: #eee;
}

.menu .menu__item--expanded > .menu .a {
  color: #484848;
  background: none;
}

.menu .menu__item--expanded > .menu .a:hover {
  text-decoration: underline;
}

.menu .menu__item--expanded:hover > .menu {
  top: 2.5rem;
  visibility: visible;
  opacity: 1;
}

/**
* Navbar styling.
**/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navbar .navbar__toggler {
  position: relative;
  display: block;
  width: 3.25rem;
  height: 3.25rem;
  margin-left: auto;
  cursor: pointer;
  color: #484848;
  background: #f5f5f5;
}

@media only screen and (min-width: 75rem) {
  .navbar .navbar__toggler {
    display: none;
  }
}

.navbar .navbar__toggler span {
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
  display: block;
  width: 1.25rem;
  height: 1px;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: #484848;
}

.navbar .navbar__toggler span:nth-child(1) {
  top: calc(50% - 0.5rem);
}

.navbar .navbar__toggler span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar .navbar__toggler span:nth-child(3) {
  top: calc(50% + 6px);
}

.navbar .navbar__toggler.is-open span:nth-child(1) {
  -webkit-transform: translate(-50%, 9px) rotate(45deg);
  transform: translate(-50%, 9px) rotate(45deg);
}

.navbar .navbar__toggler.is-open span:nth-child(2) {
  opacity: 0;
}

.navbar .navbar__toggler.is-open span:nth-child(3) {
  -webkit-transform: translate(-50%, -5px) rotate(-45deg);
  transform: translate(-50%, -5px) rotate(-45deg);
}

.navbar .navbar__branding {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  white-space: nowrap;
  line-height: inherit;
}

.navbar .navbar__branding .navbar__branding__logo {
  margin-right: 1rem;
}

.navbar .navbar__branding .navbar__branding__name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
}

.navbar .navbar__branding .navbar__branding__slogan {
  color: #6a6a6a;
  font-size: 14px;
}

.navbar .navbar__collapse {
  display: none;
}

@media only screen and (min-width: 64rem) {
  .navbar .navbar__collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    margin: 0;
  }
}

.navbar .navbar__collapse.is-open {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

.navbar .navbar__collapse .navbar__collapse__item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 64rem) {
  .navbar .navbar__collapse .navbar__collapse__item {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/**
* Form styling
**/
.form {
  position: relative;
  display: block;
  overflow: inherit;
}

.form .form__item {
  display: block;
  clear: both;
  margin-bottom: 1.25rem;
}

.form .form__item label {
  display: block;
  margin-bottom: 0.25rem;
  color: #484848;
  font-weight: 700;
}

.form .form__input {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 2.25em;
  padding-top: calc(0.375em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
}

.form input[type="text"],
.form .form__textarea {
  width: 100%;
  max-width: 100%;
  color: #000;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form .form__textarea {
  min-height: 7.5rem;
  max-height: 37.5rem;
}

.form .form__radio,
.form .form__checkbox {
  font-weight: 400 !important;
}

.form .form__radio input,
.form .form__checkbox input {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 1.25;
}

.form.form--inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.form.form--inline > .form__item {
  margin-right: 1rem;
  margin-bottom: 0;
}

.form.form--inline button,
.form.form--inline .button {
  margin-bottom: 0;
}

/**
* Table styling
*/
table {
  max-width: 100%;
  margin-bottom: 1.2rem;
  table-layout: auto;
  border: solid 1px #ccc;
  background: #fff;
}

table thead {
  background: #eee;
}

table tr th {
  font-weight: 600;
}

table tr td {
  font-size: 12px;
}

table tr th,
table tr td {
  padding: 0.75rem 1rem;
  text-align: left;
  font-size: 14px;
  line-height: 1;
}

@media only screen and (max-width: 40rem) {
  table tr th,
  table tr td {
    padding: 0.4rem 0.4rem;
    vertical-align: middle;
  }
}

table tr:nth-of-type(even) {
  background: #f5f5f5;
}

/**
* Block styling
**/
.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  border: 1px solid #eee;
}

.block .block__title {
  background: #eee;
  padding: 1rem;
}

.block .block__content {
  border-top: none;
  padding: 1rem;
}

/**
* Article styling
**/
.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  position: relative;
  margin: 0 0 0.75rem 0 !important;
  padding-bottom: 0.75rem;
  border-bottom: 1px dotted #ccc;
}

@media only screen and (min-width: 40rem) {
  .article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

@media only screen and (min-width: 40rem) {
  .article .article__media {
    max-width: 30%;
    margin-right: 1.75rem;
  }
}

.article .article__media figure {
  margin: 0 !important;
  padding: 0 !important;
}

.article .article__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.article .article__content .article__title {
  margin: 0 0 0.5rem;
}

.article .article__content .article__meta {
  margin-bottom: 0.875rem;
  opacity: 0.75;
  font-size: 14px;
}

/**
  Define the styling of the semantic components.
 */
header .secondary__menu {
  padding: 0.25rem;
  font-size: 8px;
  background-color: #fe5000;
  color: white;
  border: none;
}

header .secondary__menu nav {
  border: none;
  margin: 0;
}

header .secondary__menu nav ul {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row nowrap;
          flex-direction: row nowrap;
  overflow: auto;
  white-space: nowrap;
}

header .secondary__menu nav ul li {
  margin: 0 10px;
}

header .header__branding {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  gap: 10px;
}

header .header__branding .header__branding__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

header .header__branding .header__branding__logo .block-system-branding-block {
  padding: 20px;
  margin: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .header__branding .header__branding__logo .block-system-branding-block .site-logo {
  width: 70px;
}

header .header__branding .header__branding__logo .block-system-branding-block > a {
  margin: 0 10px;
}

header .header__branding .header__branding__logo .block-system-branding-block .site-name a {
  font-weight: bold;
  font-size: large;
}

header .header__branding .header__branding__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header__branding .header__branding__navigation ul {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media only screen and (min-width: 75rem) {
  header .header__branding .header__branding__navigation ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

header .header__branding .header__branding__navigation ul li {
  margin: 0 10px;
}

@media only screen and (min-width: 75rem) {
  header .header__branding .header__branding__navigation ul li {
    margin: 0 20px;
  }
}

header .header__branding .header__branding__navigation .menu--account {
  margin: 0;
}

header .header__branding .header__branding__navigation .menu--account > li {
  margin: 0 20px;
}

header .primary_menu {
  background-color: #ff5e00;
}

header .primary_menu ul {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  font-weight: 700;
  overflow: scroll;
  white-space: nowrap;
}

header .primary_menu li {
  padding: 0 10px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media only screen and (min-width: 75rem) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main .main__sidebar-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 75rem) {
  .main .main__sidebar-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    margin: 0 10px;
  }
}

.main .main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  width: 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 0 auto;
}

@media only screen and (min-width: 75rem) {
  .main .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 10px;
  }
}

.main .main__sidebar-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 75rem) {
  .main .main__sidebar-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 10px;
  }
}

.footer {
  background-color: black;
}

.footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 15px;
}

.footer .footer__top .footer__first_item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  margin: 0 10px;
}

.footer .footer__bottom {
  padding: 15px;
}

.featured-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #fe5000;
}

.featured-bottom-container > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3%;
          flex: 1 1 33.3%;
  padding: 0 10px;
}

.featured-bottom {
  background-color: #fe5000;
  padding: 10px;
}
