@font-face {
  font-family: 'icomoon';
  src: url('../assets/fonts/Icomoon/icomoon.eot?tl23mx');
  src: url('../assets/fonts/Icomoon/icomoon.eot?tl23mx#iefix') format('embedded-opentype'),
    url('../assets/fonts/Icomoon/icomoon.ttf?tl23mx') format('truetype'),
    url('../assets/fonts/Icomoon/icomoon.woff?tl23mx') format('woff'),
    url('../assets/fonts/Icomoon/icomoon.svg?tl23mx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon {
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
