{#
/**
 * @file
 * Zeus's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.navigation: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.left_sidebar: Items for the first sidebar.
 * - page.right_sidebar: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.featured_bottom: Items for featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
      {% if page.secondary_menu %}
        <div class="secondary__menu">
          {{ page.secondary_menu }}
        </div>
      {% endif %}
      {% if page.branding or page.navigation %}
        <div class="header__branding">
          <div class="header__branding__logo">
            {{ page.branding }}
          </div>
          <div class="header__branding__navigation">
            {{ page.navigation }}
          </div>
        </div>
      {% endif %}
    {% if page.primary_menu %}
      <div class="primary_menu">
        {{ page.primary_menu }}
      </div>
    {% endif %}    
    </header>
    {% if page.featured_top %}
        <section class="featured-top" id="featured-top" role="complementary">
          {{ page.featured_top }}
        </section>
    {% endif %}
    <div class="section layout-container clearfix">
    <div class="main" id="main">
    {% if page.left_sidebar %}
      <aside class="main__sidebar-left" id="sidebar-left" role="complementary">
        {{ page.left_sidebar }}
      </aside>
    {% endif %}
    <main class="main__content" id="content" role="main">
      <section class="main__content__section">
        <a id="main-content" tabindex="-1"></a>
          {{ page.content }}
      </section>
    </main>
    {% if page.right_sidebar %}
      <aside class="main__sidebar-right" id="sidebar-right" role="complementary">
        {{ page.right_sidebar }}
      </aside>
    {% endif %}    
    </div>
    </div>
    {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
        <section class="featured-bottom-container clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
      </section>
    {% endif %}
    {% if page.featured_bottom %}
        <section class="featured-bottom" id="featured-bottom" role="complementary">
          {{ page.featured_bottom }}
        </section>
    {% endif %}    
    <footer class="footer" id="footer">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="footer__top clearfix">
            <div class="footer__first footer__first_item">{{ page.footer_first }}</div>
            <div class="footer__second footer__first_item">{{ page.footer_second }}</div>
            <div class="footer__third footer__first_item">{{ page.footer_third }}</div>
            <div class="footer__fourth footer__first_item">{{ page.footer_fourth }}</div>
            </div>
        {% endif %}
        {% if page.footer_bottom %}
          <div class="footer__bottom">
            {{ page.footer_bottom }}
          </div>
        {% endif %}
      </div>
    </footer>
  </div>
