.main {
  display: flex;
  flex-flow: column nowrap;
  @include bp-large() {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .main__sidebar-left {
    flex: 0 1 100%;
    order: 1;
    margin: 0 auto;
    width: 100%;
    @include bp-large() {
      flex: 0 1 20%;
      margin: 0 10px;
    }
  }
  .main__content {
    flex: 0 1 100%;
    width: 100%;
    order: 3;
    margin: 0 auto;
    @include bp-large() { 
      flex: 0 1 50%;
      order: 2;
      margin: 0 10px;
    }
  }
  .main__sidebar-right {
    flex: 0 1 100%;
    order: 2;
    margin: 0 auto;
    width: 100%;
    @include bp-large() { 
      flex: 0 1 20%;
      order: 3;
      margin: 0 10px;
    }
  }
}