.featured-bottom-container {
  display: flex;
  flex-flow: row nowrap;
  background-color: #fe5000;
  > div {
    flex: 1 1 33.3%;
    padding: 0 10px;
  }
}

.featured-bottom {
  background-color: #fe5000;
  padding: 10px;
}