.footer {
  background-color: black;
  .footer__top {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;
    .footer__first_item {
      flex: 1 1 25%;
      margin: 0 10px;
    }
  }
  .footer__bottom {
    padding: 15px;
  }
}