header {
  .secondary__menu {
    padding: 0.25rem;
    font-size: $font-size--xxxs;

    nav {
      border: none;
      margin: 0;

      ul {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: row nowrap;
        overflow: auto;
        white-space: nowrap;

        li {
          margin: 0 10px;
        }
      }
    }

    background-color: #fe5000;
    color: white;
    border: none;
  }

  .header__branding {
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: black;
    gap: 10px;

    .header__branding__logo {
      flex: 0 1 70%;

      .block-system-branding-block {
        padding: 20px;
        margin: 0;
        border: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;

        .site-logo {
          width: 70px;
        }

        >a {
          margin: 0 10px;
        }

        .site-name {
          a {
            font-weight: bold;
            font-size: large;
          }
        }
      }
    }

    .header__branding__navigation {
      flex: 0 1 30%;
      justify-content: flex-end;

      ul {
        list-style: none;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        flex-flow: column;

        @include bp-large {
          flex-flow: row;
        }

        li {
          margin: 0 10px;

          @include bp-large {
            margin: 0 20px;
          }
        }
      }

      .menu--account {
        margin: 0;

        >li {
          margin: 0 20px;
        }
      }
    }
  }

  .primary_menu {
    background-color: #ff5e00;

    ul {
      list-style: none;
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      color: white;
      font-weight: 700;
      overflow: scroll;
      white-space: nowrap;
    }
    li {
      padding: 0 10px;
    }
  }
}
