/**
* Form styling
**/

.form {
  position: relative;
  display: block;
  overflow: inherit;
  .form__item {
    display: block;
    clear: both;
    margin-bottom: 1.25rem;
    label {
      display: block;
      margin-bottom: 0.25rem;
      color: $color--dark-grey;
      font-weight: $font-weight--bold;
    }
  }
  .form__input {
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    height: 2.25em;
    padding-top: calc(0.375em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
  }
  input[type="text"],
  .form__textarea {
    width: 100%;
    max-width: 100%;
    color: $color--black;
    border: 1px solid $color--light-grey;
    background-color: $color--white;
    box-shadow: none;
  }
  .form__textarea {
    min-height: rem(120);
    max-height: rem(600);
  }
  .form__radio,
  .form__checkbox {
    font-weight: $font-weight--regular !important;
    input {
      position: relative;
      display: inline-block;
      cursor: pointer;
      line-height: 1.25;
    }
  }
  &.form--inline {
    display: inline-flex;
    > .form__item {
      margin-right: 1rem;
      margin-bottom: 0;
    }
    button,
    .button {
      margin-bottom: 0;
    }
  }
}